In [1]:
import pandas as pd
import numpy as np

In [27]:
wine = pd.read_csv("data/wine.data", header=None)

In [28]:
wine.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [29]:
colunas = ["Class","Alcohol", "Malic acid", "Ash", "Alcalinity of ash", "Magnesium", "Total phenols", "Flavanoids", 
           "Nonflavanoid phenols", "Proanthocyanins", "Color intensity", "Hue","OD280/OD315 of diluted wines",
           "Proline"]

In [30]:
wine.columns = colunas

In [31]:
wine.head()

,Class,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [37]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Class                         178 non-null    int64
 1   Alcohol                       178 non-null    float64
 2   Malic acid                    178 non-null    float64
 3   Ash                           178 non-null    float64
 4   Alcalinity of ash             178 non-null    float64
 5   Magnesium                     178 non-null    int64
 6   Total phenols                 178 non-null    float64
 7   Flavanoids                    178 non-null    float64
 8   Nonflavanoid phenols          178 non-null    float64
 9   Proanthocyanins               178 non-null    float64
 10  Color intensity               178 non-null    float64
 11  Hue                           178 non-null    float64
 12  OD280/OD315 of diluted wines  178 non-null    float64
 13  Proline                       178 non-null    int64
dtypes: float64(11), int64(3)
memory usage: 19.6 KB

In [38]:
wine.describe()

,Class,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000
mean,1.938202,13.000618,2.336348,2.366517,19.494944,99.741573,2.295112,2.029270,0.361854,1.590899,5.058090,0.957449,2.611685,746.893258
std,0.775035,0.811827,1.117146,0.274344,3.339564,14.282484,0.625851,0.998859,0.124453,0.572359,2.318286,0.228572,0.709990,314.907474
min,1.000000,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000
25%,1.000000,12.362500,1.602500,2.210000,17.200000,88.000000,1.742500,1.205000,0.270000,1.250000,3.220000,0.782500,1.937500,500.500000
50%,2.000000,13.050000,1.865000,2.360000,19.500000,98.000000,2.355000,2.135000,0.340000,1.555000,4.690000,0.965000,2.780000,673.500000
75%,3.000000,13.677500,3.082500,2.557500,21.500000,107.000000,2.800000,2.875000,0.437500,1.950000,6.200000,1.120000,3.170000,985.000000
max,3.000000,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000

In [76]:
wine[["Alcohol", "Malic acid"]].describe()

          Alcohol  Malic acid
count  178.000000  178.000000
mean    13.000618    2.336348
std      0.811827    1.117146
min     11.030000    0.740000
25%     12.362500    1.602500
50%     13.050000    1.865000
75%     13.677500    3.082500
max     14.830000    5.800000

Item 1 (Estatísticas Descritivas): Usando o conjunto de dados a você atribuído conforme a tabela
mostrada na próxima página, pede-se:
1.1 - Escolher dois atributos quaisquer e calcular suas estatísticas descritivas (global e por
classe), organizando-as conforme tabela abaixo.

In [73]:
def valores(coluna, classe):
    if(classe == 0):
        print (str(coluna)+" Global:   Média = "+str(round(wine[coluna].mean(), 2))
                   +", Desvio Padrão = "+str(round(wine[coluna].std(), 2))
                   +", Mediana = "+str(round(wine[coluna].median(), 2))
                   +", Minimo/Maximo = "+str(round(wine[coluna].min(), 2))+"/"+str(round(wine.Alcohol.max(), 2)))
    else:
        print (str(coluna)+" Classe "+str(classe)+": Média = "+str(round(wine[wine.Class==classe][coluna].mean(), 2))
                    +", Desvio Padrão = "+str(round(wine[wine.Class==classe][coluna].std(), 2))
                    +", Mediana = "+str(round(wine[wine.Class==classe][coluna].median(), 2))
                    +", Minimo/Maximo = "+str(round(wine[wine.Class==classe][coluna].min(), 2))
                                     +"/"+str(round(wine[wine.Class==classe][coluna].max(), 2)))

In [74]:
for i in range(0, 4):
    valores("Alcohol", i)

Alcohol Global:   Média = 13.0, Desvio Padrão = 0.81, Mediana = 13.05, Minimo/Maximo = 11.03/14.83
Alcohol Classe 1: Média = 13.74, Desvio Padrão = 0.46, Mediana = 13.75, Minimo/Maximo = 12.85/14.83
Alcohol Classe 2: Média = 12.28, Desvio Padrão = 0.54, Mediana = 12.29, Minimo/Maximo = 11.03/13.86
Alcohol Classe 3: Média = 13.15, Desvio Padrão = 0.53, Mediana = 13.16, Minimo/Maximo = 12.2/14.34

In [75]:
for i in range(0, 4):
    valores("Malic acid", i)

Malic acid Global:   Média = 2.34, Desvio Padrão = 1.12, Mediana = 1.87, Minimo/Maximo = 0.74/14.83
Malic acid Classe 1: Média = 2.01, Desvio Padrão = 0.69, Mediana = 1.77, Minimo/Maximo = 1.35/4.04
Malic acid Classe 2: Média = 1.93, Desvio Padrão = 1.02, Mediana = 1.61, Minimo/Maximo = 0.74/5.8
Malic acid Classe 3: Média = 3.33, Desvio Padrão = 1.09, Mediana = 3.26, Minimo/Maximo = 1.24/5.65

1.2 – Escolha uma das classes (de preferência a que possuir mais dados) e estime o (i) seu
centróide e (ii) sua matriz de covariância. Mostrar como foi realizado/feito/implementado
este subitem.

In [77]:
wine.Class.value_counts()

2    71
1    59
3    48
Name: Class, dtype: int64