In [40]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [29]:
data = pd.read_csv("data/credit_data.csv")

# Pré Processamento

In [30]:
data.describe()

        i#clientid        income          age          loan    c#default
count  2000.000000   2000.000000  1997.000000   2000.000000  2000.000000
mean   1000.500000  45331.600018    40.807559   4444.369695     0.141500
std     577.494589  14326.327119    13.624469   3045.410024     0.348624
min       1.000000  20014.489470   -52.423280      1.377630     0.000000
25%     500.750000  32796.459717    28.990415   1939.708847     0.000000
50%    1000.500000  45789.117313    41.317159   3974.719419     0.000000
75%    1500.250000  57791.281668    52.587040   6432.410625     0.000000
max    2000.000000  69995.685578    63.971796  13766.051239     1.000000

In [31]:
data[data['age']<0]

    i#clientid        income        age         loan  c#default
15          16  50501.726689 -28.218361  3977.287432          0
21          22  32197.620701 -52.423280  4244.057136          0
26          27  63287.038908 -36.496976  9595.286289          0

In [32]:
data[data['age']<0] = data['age'][data['age'] >= 0].mean()

In [33]:
data.isnull().sum()

i#clientid    0
income        0
age           3
loan          0
c#default     0
dtype: int64

In [34]:
data['age'].fillna(data['age'].mean(), inplace=True)

In [36]:
data.drop(columns=['i#clientid'], inplace=True)

# Dados de Treino e Teste

In [56]:
X = data.drop('c#default', axis=1)
y = data['c#default']

In [55]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

# Padronização

In [38]:
scaler = StandardScaler()