In [1]:
import pandas as pd

In [2]:
dataframe_questao_1 = pd.read_csv("bases/questao1_coronavirus.csv", delimiter=";")

In [3]:
dataframe_questao_1.sample(10)

,date,state,city,new_confirmed,new_deaths,estimated_population_2019
224631,2020-04-16,RO,Jaru,0,0,51775.0
116984,2020-05-27,RO,Presidente Médici,0,0,18986.0
208808,2020-04-26,MS,Selvíria,0,0,6529.0
27924,2020-06-16,RS,Formigueiro,1,0,6664.0
81222,2020-06-04,MA,São Domingos do Maranhão,0,0,34376.0
199590,2020-05-01,SP,Ibirá,0,0,12393.0
58323,2020-06-09,GO,Hidrolina,0,0,3564.0
36076,2020-06-14,PA,São João de Pirabas,0,0,23045.0
158774,2020-05-15,BA,Arataca,2,0,11019.0
97126,2020-06-01,SP,Pardinho,0,0,6435.0

In [44]:
dataframe_questao_1.shape

(240649, 6)

Usaremos como base de informação o site 
https://brasil.io/dataset/covid19/boletim/
que tem a siguinte documentação:

date: data de coleta dos dados no formato YYYY-MM-DD.

state: sigla da unidade federativa, exemplo: SP.

city: nome do município (pode estar em branco quando o registro é referente ao estado, pode ser preenchido com Importados/Indefinidos também).

new_confirmed: número de novos casos confirmados desde o último dia (note que caso is_repeated seja True, esse valor sempre será 0 e que esse valor pode ser negativo caso a SES remaneje os casos desse município para outro).

new_deaths: número de novos óbitos desde o último dia (note que caso is_repeated seja True, esse valor sempre será 0 e que esse valor pode ser negativo caso a SES remaneje os casos desse município para outro).

estimated_population_2019: população estimada para esse município/estado em 2019, segundo o IBGE (acesse o script que faz o download e conversão dos dados de população).

In [183]:
def estado(valor):
    estados = dataframe_questao_1.drop("city", 1)
    df_estado = estados.loc[estados.state==valor, :]
    df_estado = df_estado.groupby('date').sum()
    df_estado[['new_confirmed','new_deaths']] = df_estado[['new_confirmed','new_deaths']].cumsum()
    return df_estado

In [184]:
teste = estado("SP")
teste.head()

            new_confirmed  new_deaths  estimated_population_2019
date
2020-02-25              1           0                 12252023.0
2020-02-26              1           0                 12252023.0
2020-02-27              1           0                 12252023.0
2020-02-28              2           0                 12252023.0
2020-02-29              2           0                 12252023.0

In [7]:
#dataframe_questao_1[dataframe_questao_1["estimated_population_2019"].isnull()]["city"].unique()

In [8]:
dataframe_questao_1.dropna(inplace=True)