In [1]:
import pandas as pd

In [5]:
dataframe_questao_1 = pd.read_csv("bases/questao1_coronavirus.csv", delimiter=";")

In [7]:
dataframe_questao_1.sample(10)

,date,state,city,new_confirmed,new_deaths,estimated_population_2019
223214,2020-04-17,PR,Jataizinho,0,0,12588.0
164641,2020-05-14,SP,Cosmorama,0,0,7307.0
179337,2020-05-09,SC,Sangão,0,0,12678.0
37734,2020-06-14,SC,Gravatal,0,0,11501.0
188020,2020-05-05,AM,Itapiranga,0,0,9148.0
3139,2020-06-21,PR,Tijucas do Sul,0,0,16868.0
68783,2020-06-07,PB,Serra Grande,0,0,2909.0
220013,2020-04-19,ES,São Mateus,0,0,130611.0
126041,2020-05-25,TO,Cachoeirinha,1,0,2275.0
109810,2020-05-29,SP,Porto Ferreira,3,0,56150.0

In [9]:
dataframe_questao_1.tail()

,date,state,city,new_confirmed,new_deaths,estimated_population_2019
240644,2020-02-29,SP,São Paulo,0,0,12252023.0
240645,2020-02-28,SP,São Paulo,1,0,12252023.0
240646,2020-02-27,SP,São Paulo,0,0,12252023.0
240647,2020-02-26,SP,São Paulo,0,0,12252023.0
240648,2020-02-25,SP,São Paulo,1,0,12252023.0

In [10]:
dataframe_questao_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240649 entries, 0 to 240648
Data columns (total 6 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   date                       240649 non-null  object
 1   state                      240649 non-null  object
 2   city                       240649 non-null  object
 3   new_confirmed              240649 non-null  int64
 4   new_deaths                 240649 non-null  int64
 5   estimated_population_2019  239206 non-null  float64
dtypes: float64(1), int64(2), object(3)
memory usage: 11.0+ MB

In [38]:
dataframe_questao_1.shape

(239206, 6)

In [39]:
#dataframe_questao_1[dataframe_questao_1["estimated_population_2019"].isnull()]["city"].unique()

In [15]:
dataframe_questao_1.dropna(inplace=True)

In [16]:
dataframe_questao_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 239206 entries, 0 to 240648
Data columns (total 6 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   date                       239206 non-null  object
 1   state                      239206 non-null  object
 2   city                       239206 non-null  object
 3   new_confirmed              239206 non-null  int64
 4   new_deaths                 239206 non-null  int64
 5   estimated_population_2019  239206 non-null  float64
dtypes: float64(1), int64(2), object(3)
memory usage: 12.8+ MB

In [23]:
dataframe_questao_1[dataframe_questao_1["new_confirmed"]<0]["new_confirmed"].unique()

array([   -1,    -3,    -2, -1269,   -31,   -11,    -6,    -8,    -4,
         -35,   -12,   -10,    -9,   -23,   -14,   -24,   -18,   -38,
         -41,   -13,   -25,    -5,   -15,   -21,   -17,    -7,   -20,
         -28,   -29,   -26,   -95,  -142,   -39,   -33,   -37,   -32,
         -36,   -42,   -40,   -43,   -49,   -70,   -50,   -69,   -46,
         -34,   -19,  -160,   -54,   -48,   -45,  -739,   -89,   -91,
        -188,  -101, -4289,   -27,  -130,  -241,  -302,   -52,   -82,
         -60,   -67,  -115,   -22,   -51,   -58,  -349, -1203,   -77,
        -414,   -73,   -16,   -56, -1081,   -64,  -385,   -61,   -72,
         -71,   -94,  -415])

In [24]:
dataframe_questao_1[dataframe_questao_1["new_deaths"]<0]["new_deaths"].unique()

array([  -8,   -1,   -4,   -2,   -3,  -11, -131,  -12,   -5,   -6])

In [25]:
dataframe_questao_1[dataframe_questao_1["new_confirmed"]<0]["new_confirmed"].shape

(3894,)

In [26]:
dataframe_questao_1[dataframe_questao_1["new_deaths"]<0]["new_deaths"].shape

(400,)

In [27]:
dataframe_questao_1[dataframe_questao_1["new_confirmed"]>0]["new_confirmed"].unique()

array([   4,    5,    9,   13,   80,    3,   69,    1,    8,    2,   39,
        424,   26,   55,   30,   54,   10,   27,   43,   12,   11,   15,
         21,    7,   32,  125,   28,   38,   29,   20,   24,   65,   57,
         23,    6,   17,   22,   51,   16,   48,  364,   46,   14,   60,
         35,   88,   19,   40,   52,   68,  101,  150,  336,   41,   91,
         25,  199,   36,   47,   82,  152,   50,  157,  100,  219,   61,
        131,   31,   45,   56,   64,   18,   49,  234,   62,  301,   42,
        134,  105,  278,   58,   37,  142,   63,   76,   98,  133,  255,
         87,   44,  949,   86,  106,   78,  139,   59,  397,   33, 1088,
        320,  112,  137,  892,   77,  140,   90,  263,  111,   34,  102,
       1269,   94,  166,  156,  120,  699,  114,  113,  186,   85,   53,
         75,  161,   72,  160,  237,  175,  404,  121,   67,  718,  256,
       1418,   70,  178,   96,  151,   97,  162,  187,  173,  128, 1376,
         81,   73,  358,  293,  103,  190,  129,  165,  243,   89,  184,
        116,   99,  346,   95,  427,  179,  227,   83,  305,  130, 2179,
        124,  141,  192,  181,  154,  201,   79,   66,  174,  195,   92,
        257,  252,  117,  488,  109,   74,  171,  384,  193,  115,  135,
        185,  217,   93,  376,  164, 2498,  491,  316,  276,   71,  163,
        149,  797,  210,  275,  406,  340,  462,  366,  226,  348,  367,
        578,  664,  265,  312, 6877,  272,  267,  168,  385,  233, 1190,
        110,  394,  407,  370,  292,  119,  108,  158,  138,  381,  232,
        634,  229,  183,  277,  329,  398,  132,  319,  477,  369,  731,
        855, 1624,  172,  143,  220,  224,  127,  271,  247,  177,  122,
        107, 2104,  333,  245,  456,  310,  474,  645,  637,  248,  123,
       1177,  182,  223,  629,   84,  222,  148,  453,  215,  423,  253,
       1489,  153,  698,  170,  373,  188,  230, 4228,  665,  437,  697,
        225, 1372,  200,  208,  431,  204,  617,  417, 1194, 2250,  328,
        504,  207,  216,  824,  203,  167,  357,  712, 3173,  331,  259,
        402,  104,  660,  505,  509,  231,  126,  169,  236,  907,  212,
        788, 2403,  502,  321,  793,  238,  197,  422,  194,  772,  211,
        416,  261,  487,  118,  528,  371,  308,  136, 2546,  345,  555,
        144,  921,  264,  283,  228, 1057, 1071,  180,  155, 2619,  554,
        334,  975, 1199,  372,  159,  297,  254,  322,  244,  602, 2431,
        326,  657, 1175,  661,  146, 1038,  302,  355,  274,  374,  361,
        382,  317,  337, 1010,  218,  221, 2327,  478,  291,  415,  242,
        778,  285,  205,  903,  377,  318,  685,  214,  412,  249,  525,
        213,  935,  621,  363,  518,  246,  145, 1466,  542, 2408,  880,
       4448,  401,  460, 1428,  560, 1166,  701,  260,  270, 1348,  202,
        295, 2106,  352,  919,  359,  467,  268,  817,  307,  499,  273,
        315,  744,  426,  572, 2570,  435,  428,  707,  191,  327,  344,
        353, 1747, 2334,  614, 1419,  196, 1240,  688,  803,  386,  287,
       3317,  206,  679,  294,  857,  995,  784,  235,  269,  147,  309,
        676, 1512,  647,  646, 1673,  390,  332,  937,  189,  303,  313,
       1170, 2878, 1723,  479,  387,  454, 1337, 3022,  969,  610,  485,
        389,  511,  281,  681,  240,  279,  601, 1224,  198, 3455,  399,
       1460, 1710,  643,  530,  258, 1350, 1264,  419,  351,  691,  677,
       1203,  414,  241,  587,  439,  732,  640,  908,  282,  600,  882,
       1914,  650,  626,  288,  380,  429,  673,  939, 1522,  251,  674,
       1549,  469, 1677, 1985,  592, 1226,  878,  304,  493, 2535, 1826,
        391,  615,  514, 1452,  798,  780,  522,  209,  335,  584,  472,
       1061,  580, 1437,  913,  536,  451, 2119,  740,  443,  339, 1471,
        753,  553,  280, 1720,  613,  549,  393,  911,  379,  464,  455,
        561,  342,  403,  520,  709,  519,  266,  806,  807, 1420, 1094,
        608,  176,  968, 1086,  670,  552,  465,  745, 2047,  311, 1067,
       1781,  533,  432,  286,  938,  239, 1511, 1241, 1408,  763,  476,
        450,  946, 1298,  575,  534,  349,  527,  262,  684,  836, 1059,
        689,  652])

In [28]:
teste = pd.read_csv("bases/caso_full.csv")

In [36]:
teste[teste["new_deaths"]<0]["new_deaths"].unique()

array([ -1,  -6,  -2, -10,  -4, -58,  -3, -82, -22, -17, -11, -38, -59,
        -5,  -7])

In [32]:
teste.describe()

,city_ibge_code,epidemiological_week,estimated_population_2019,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_death_rate,last_available_deaths,order_for_place,new_confirmed,new_deaths
count,4.908490e+05,493133.000000,4.908490e+05,493133.000000,479707.000000,493133.000000,493133.000000,493133.000000,493133.000000,493133.000000
mean,3.165190e+06,25.185396,1.180477e+05,474.369850,414.977244,0.044980,19.812726,49.710816,11.602482,0.394906
std,1.020317e+06,4.600946,1.147501e+06,6048.395477,722.691372,0.123945,303.540061,32.125735,143.146758,5.491360
min,1.100000e+01,9.000000,7.810000e+02,0.000000,0.002180,0.000000,0.000000,1.000000,-1578.000000,-82.000000
25%,2.414605e+06,22.000000,6.936000e+03,4.000000,33.621520,0.000000,0.000000,23.000000,0.000000,0.000000
50%,3.137007e+06,26.000000,1.533600e+04,18.000000,144.503580,0.000000,0.000000,46.000000,0.000000,0.000000
75%,4.108700e+06,29.000000,3.421300e+04,92.000000,490.876110,0.039100,2.000000,73.000000,2.000000,0.000000
max,5.300108e+06,32.000000,4.591905e+07,585265.000000,15730.064330,1.000000,24109.000000,164.000000,19030.000000,434.000000

In [37]:
teste.shape

(493133, 17)